<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
  <h1><%= title %></h1>
  <ul id="ul_dashboard">
    <% productos.forEach(p => { %>
      <li>
        Id: <%= p.id %> <br>
        <strong> Nombre: <%= p.nombre %></strong><br>
        Precio: $<%= p.precio %><br>
        Categoría: <%= p.categoria %><br>
        <img class= "img-listados" src="<%= p.imagen %>" alt="<%= p.nombre %>" style="max-width: 200px;">
      </li>
    <% }) %>
  </ul>
  
<%- include("partials/footer.ejs") %>
